.DS_Store
theory/inteligenta materiei/Tabele_dim_2
theory/inteligenta materiei/Tabele_dim_2/Fisiere_Excel
theory/inteligenta materiei/Tabele_dim_2/Fisiere_Excel/*
theory/inteligenta materiei/Tabele_dim_2/Fisiere_Matlab
theory/inteligenta materiei/Tabele_dim_2/Fisiere_Matlab/*